.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0C0F12;
  color: #E4E4E4;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 10px;
}

a {
  text-decoration: none;
}

.navbar a {
  color: #fff;
}

.navbar .log {
  font-weight: 400;
}

.navbar .logo {
  padding-left: 1%
}